<div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <h4 class="category">Danh Bạ Online</h4><span class="caret"></span>
  </a>
  
  <ul class="dropdown-menu">
    <li><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> ẨM THỰC - NHÀ HÀNG</li>
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> NHÀ NGHỈ - KHÁCH SẠN</li>
    <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> THỜI TRANG - SHOPPING</li>
    <li><span class="glyphicon glyphicon-music" aria-hidden="true"></span>CAFE - GIẢI TRÍ - THỂ THAO</li>
    <li><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>Y TẾ - SỨC KHỎE</li>
    <li><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>ĐIỆN MÁY - MUA SẮM</li>
    <li><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>CÔNG NGHỆ - NỘI THẤT - VLXD</li>
    <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span>GIÁO DỤC - ĐÀO TẠO</li>
    <li><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>văn hóa - DU LỊCH</li>
    <li><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>NÔNG NGHIỆP - TRANG TRẠI</li>
    <li><span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>KINH TẾ - TÀI CHÍNH</li>

 
    
  </ul>
</div>